
.font-small {
    font-size: 14px;
    font-weight: 400;
  }
  
  .font-medium {
    font-size: 16px;
    font-weight: 500;
  }
  
  .font-large {
    font-size: 20px;
    font-weight: 600;
  }
  
  .font-bold {
    font-size: 20px;
    font-weight: 700;
  }