.expertise-section {
    padding: 60px 20px;
    background: #000;
    color: #fff;
    text-align: center;
  
    .expertise-header {
      margin-bottom: 40px;
  
      .sub-title {
        font-size: 0.9rem;
        letter-spacing: 1px;
        color: #bbb;
        margin-bottom: 0.5rem;
  
        &::after {
          content: "";
          display: block;
          width: 60px;
          height: 2px;
          margin: 8px auto 0;
        }
      }
  
      .main-title {
        font-size: 32px;
        font-weight: 700;
        margin-top: 10px;
        background: linear-gradient(90deg, #ffffff, #cccccc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .view {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        img {
            cursor: pointer;
        }
    }
  
    .expertise-slider {
      .expertise-card {
        padding: 15px;
  
        .card-inner {
            position: relative;
            background: #0a0a0a;
            border-radius: 16px;
            padding: 30px 20px;
            color: #fff;
            text-align: left;
            overflow: hidden;
            transition: all 0.3s ease;
            border: 1px solid transparent;
            border-image: linear-gradient(135deg, #00f0ff, #8d44ff) 1;
            border-image-slice: 1;
          
            clip-path: polygon(
              0 0, 
              100% 0, 
              100% 85%, 
              90% 100%, 
              0 100%
            );
         
  
          .card-img {
            margin-bottom: 20px;
            object-fit: contain;
            margin: 0 auto;
          }
  
          .card-title {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 12px;
            color: #fff;
          }
  
          .card-content {
            font-size: 15px;
            color: #ccc;
            line-height: 1.5;
          }
        }

        
      }
    }
  }
  .expertise-section {
    position: relative;
  
    .slick-dots {
      display: none !important;
    }
  
    .slick-prev,
    .slick-next {
      top: auto;
      bottom: -50px;
      transform: none;
      z-index: 10;
  
      &:before {
        font-size: 28px;
        color: #00f0ff; 
      }
    }
  
    .slick-prev {
      left: 50%;
      transform: translateX(-120%);
    }
  
    .slick-next {
      right: 50%;
      transform: translateX(120%);
    }
  }

@media (max-width: 992px) {
  img {
    width: auto;
  }
}
  