#root {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.layout {
  padding: 15px;
  background-color: #000000;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (max-width: 992px) {
  .layout {
    padding: 15px;
  }
}

.slick-track {
  display: flex;
  gap: 20px;
}


